### 문제

* CAR_RENTAL_COMPANY_CAR 테이블과 CAR_RENTAL_COMPANY_RENTAL_HISTORY 테이블과 CAR_RENTAL_COMPANY_DISCOUNT_PLAN 테이블에서 자동차 종류가 '세단' 또는 'SUV' 인 자동차 중 2022년 11월 1일부터 2022년 11월 30일까지 대여 가능하고 30일간의 대여 금액이 50만원 이상 200만원 미만인 자동차에 대해서 자동차 ID, 자동차 종류, 대여 금액(컬럼명: FEE) 리스트를 출력하는 SQL문을 작성해주세요. 결과는 대여 금액을 기준으로 내림차순 정렬하고, 대여 금액이 같은 경우 자동차 종류를 기준으로 오름차순 정렬, 자동차 종류까지 같은 경우 자동차 ID를 기준으로 내림차순 정렬해주세요.

__MYSQL__

```SQL

WITH EXCEPT_LIST AS (
    SELECT DISTINCT CAR_ID
    FROM 
        CAR_RENTAL_COMPANY_RENTAL_HISTORY 
    WHERE 
        DATE_FORMAT(END_DATE, '%Y-%m') LIKE '2022-11' 
        OR DATE_FORMAT(END_DATE, '%Y-%m') LIKE '2022-11' 
        OR (START_DATE < '2022-11-01' AND END_DATE > '2022-11-30')
),
    DIS_RATIO AS (
    SELECT
        CAR_TYPE,
        ROUND((100 - DISCOUNT_RATE) / 100, 2) AS DIS
    FROM CAR_RENTAL_COMPANY_DISCOUNT_PLAN 
    WHERE
        CAR_TYPE = '세단'
        AND DURATION_TYPE LIKE '%30일%'
        OR
        CAR_TYPE = 'SUV'
        AND DURATION_TYPE LIKE '%30일%'
)
    
SELECT
    CAR_ID,
    T1.CAR_TYPE,
    ROUND(DAILY_FEE * DIS * 30, 0) AS FEE
FROM CAR_RENTAL_COMPANY_CAR T1
JOIN DIS_RATIO T2
    ON T1.CAR_TYPE = T2.CAR_TYPE
WHERE
    DAILY_FEE * DIS * 30 < 2000000 
    AND DAILY_FEE * DIS * 30 >= 500000
    AND CAR_ID NOT IN (
        SELECT CAR_ID
        FROM EXCEPT_LIST)
ORDER BY 
    FEE DESC,
    T1.CAR_TYPE ASC,
    T1.CAR_ID DESC
;

```