### 문제

* 천재지변으로 인해 일부 데이터가 유실되었습니다. 입양을 간 기록은 있는데, 보호소에 들어온 기록이 없는 동물의 ID와 이름을 ID 순으로 조회하는 SQL문을 작성해주세요.

__MYSQL__

```SQL

SELECT
    T1.ANIMAL_ID,
    T1.NAME
FROM ANIMAL_OUTS T1
LEFT JOIN ANIMAL_INS T2
    ON T1.ANIMAL_ID = T2.ANIMAL_ID
WHERE
    T2.ANIMAL_ID IS NULL
    AND T2.NAME IS NULL
ORDER BY
    T1.ANIMAL_ID ASC
;

```