### 문제

* 아직 입양을 못 간 동물 중, 가장 오래 보호소에 있었던 동물 3마리의 이름과 보호 시작일을 조회하는 SQL문을 작성해주세요. 이때 결과는 보호 시작일 순으로 조회해야 합니다.

__MYSQL__

```SQL

SELECT
    T1.NAME,
    T1.DATETIME
FROM ANIMAL_INS T1
LEFT JOIN ANIMAL_OUTS T2
    ON T1.ANIMAL_ID = T2.ANIMAL_ID
WHERE
    T2.ANIMAL_ID IS NULL
ORDER BY
    T1.DATETIME ASC
LIMIT 3
;

```