### 문제

* 보호소에서 중성화 수술을 거친 동물 정보를 알아보려 합니다. 보호소에 들어올 당시에는 중성화1되지 않았지만, 보호소를 나갈 당시에는 중성화된 동물의 아이디와 생물 종, 이름을 조회하는 아이디 순으로 조회하는 SQL 문을 작성해주세요.

__MYSQL__

```SQL

SELECT
    T1.ANIMAL_ID,
    T1.ANIMAL_TYPE,
    T1.NAME
FROM ANIMAL_INS T1
JOIN ANIMAL_OUTS T2
    ON T1.ANIMAL_ID = T2.ANIMAL_ID
WHERE 
    T1.SEX_UPON_INTAKE LIKE '%Intact%'
    AND T2.SEX_UPON_OUTCOME LIKE '%Spayed%' 
    OR
    T1.SEX_UPON_INTAKE LIKE '%Intact%'
    AND T2.SEX_UPON_OUTCOME LIKE '%Neutered%'

```