### 문제

* USED_GOODS_BOARD와 USED_GOODS_USER 테이블에서 완료된 중고 거래의 총금액이 70만 원 이상인 사람의 회원 ID, 닉네임, 총거래금액을 조회하는 SQL문을 작성해주세요. 결과는 총거래금액을 기준으로 오름차순 정렬해주세요.

__MYSQL__

```SQL

WITH T2 AS (
    SELECT
        WRITER_ID,
        SUM(PRICE) AS PRICE
    FROM 
        USED_GOODS_BOARD
    WHERE
        STATUS = 'DONE'
    GROUP BY
        WRITER_ID
)
SELECT
    T1.USER_ID,
    T1.NICKNAME,
    T2.PRICE AS TOTAL_SALES
FROM USED_GOODS_USER T1
JOIN T2
    ON T2.WRITER_ID = T1.USER_ID
WHERE
    T2.PRICE >= 700000
ORDER BY
    TOTAL_SALES ASC
;

```