### 문제

* 2022년 1월의 카테고리 별 도서 판매량을 합산하고, 카테고리(CATEGORY), 총 판매량(TOTAL_SALES) 리스트를 출력하는 SQL문을 작성해주세요.
결과는 카테고리명을 기준으로 오름차순 정렬해주세요.

__MYSQL__

```SQL

SELECT
    CATEGORY,
    SUM(SALES) AS TOTAL_SALES
FROM
    BOOK T1
JOIN BOOK_SALES T2
    ON T1.BOOK_ID = T2.BOOK_ID
WHERE
    YEAR(SALES_DATE) = 2022
    AND MONTH(SALES_DATE) = 1
GROUP BY
    CATEGORY
ORDER BY
    CATEGORY ASC
;

```