### 문제

* 2022년 1월의 도서 판매 데이터를 기준으로 저자 별, 카테고리 별 매출액(TOTAL_SALES = 판매량 * 판매가) 을 구하여, 저자 ID(AUTHOR_ID), 저자명(AUTHOR_NAME), 카테고리(CATEGORY), 매출액(SALES) 리스트를 출력하는 SQL문을 작성해주세요.
* 결과는 저자 ID를 오름차순으로, 저자 ID가 같다면 카테고리를 내림차순 정렬해주세요.

__MYSQL__

```SQL

SELECT
    T1.AUTHOR_ID,
    T2.AUTHOR_NAME,
    T1.CATEGORY,
    SUM(T1.PRICE * T3.SALES) AS TOTAL_SALES
FROM
    BOOK T1
JOIN AUTHOR T2
    ON T1.AUTHOR_ID = T2.AUTHOR_ID
JOIN BOOK_SALES T3
    ON T1.BOOK_ID = T3.BOOK_ID
WHERE
    YEAR(SALES_DATE) = 2022
    AND MONTH(SALES_DATE) = 01
GROUP BY
    T1.AUTHOR_ID,
    T1.CATEGORY
ORDER BY
    T1.AUTHOR_ID ASC,
    T1.CATEGORY DESC
;

```