### 문제

* HR_DEPARTMENT, HR_EMPLOYEES, HR_GRADE 테이블에서 2022년도 한해 평가 점수가 가장 높은 사원 정보를 조회하려 합니다. 2022년도 평가 점수가 가장 높은 사원들의 점수, 사번, 성명, 직책, 이메일을 조회하는 SQL문을 작성해주세요.

* 2022년도의 평가 점수는 상,하반기 점수의 합을 의미하고, 평가 점수를 나타내는 컬럼의 이름은 SCORE로 해주세요.

__MYSQL__

```sql

WITH BASE AS (    
    SELECT
        SUM(SCORE) AS SCORE,
        EMP_NO    
    FROM HR_GRADE T1
    WHERE YEAR = 2022
    GROUP BY
        EMP_NO
    ORDER BY
        SCORE DESC
    LIMIT 1
)
SELECT
    T1.SCORE,
    T1.EMP_NO,
    T2.EMP_NAME,
    T2.POSITION,
    T2.EMAIL
FROM BASE T1
JOIN HR_EMPLOYEES T2
    ON T1.EMP_NO = T2.EMP_NO

```