### 문제

* HR_DEPARTMENT, HR_EMPLOYEES, HR_GRADE 테이블을 이용해 사원별 성과금 정보를 조회하려합니다. 평가 점수별 등급과 등급에 따른 성과금 정보가 아래와 같을 때, 사번, 성명, 평가 등급, 성과금을 조회하는 SQL문을 작성해주세요.

* 평가등급의 컬럼명은 GRADE로, 성과금의 컬럼명은 BONUS로 해주세요.
결과는 사번 기준으로 오름차순 정렬해주세요.

__MYSQL__


```SQL 

WITH BASE AS (
    SELECT
        EMP_NO,
        AVG(SCORE) AS SCORE
    FROM HR_GRADE
    GROUP BY
        EMP_NO
)
SELECT
    T1.EMP_NO,
    T1.EMP_NAME,
    CASE
        WHEN T2.SCORE >= 96 THEN 'S'
        WHEN T2.SCORE >= 90 THEN 'A'
        WHEN T2.SCORE >= 80 THEN 'B'
        ELSE 'C'
    END AS GRADE,
    CASE
        WHEN T2.SCORE >= 96 THEN T1.SAL * 0.2
        WHEN T2.SCORE >= 90 THEN T1.SAL * 0.15
        WHEN T2.SCORE >= 80 THEN T1.SAL * 0.1
        ELSE 0
    END AS BONUS
FROM HR_EMPLOYEES T1
JOIN BASE T2
    ON T1.EMP_NO = T2.EMP_NO
ORDER BY
    EMP_NO ASC
;

```