### 문제

* 동물 보호소에 들어온 모든 동물의 이름과 보호 시작일을 조회하는 SQL문을 작성해주세요. 이때 결과는 ANIMAL_ID 역순으로 보여주세요. SQL을 실행하면 다음과 같이 출력되어야 합니다.

__MYSQL__

```SQL

SELECT
    NAME,
    DATETIME
FROM 
    ANIMAL_INS
ORDER BY 
    ANIMAL_ID DESC;

```

__ORACLE__

```SQL

SELECT
    NAME,
    DATETIME
FROM 
    ANIMAL_INS
ORDER BY 
    ANIMAL_ID DESC;

```

### 문제

* 동물 보호소에 들어온 동물 중 아픈 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 이때 결과는 아이디 순으로 조회해주세요.

__MYSQL__

```SQL

SELECT 
    ANIMAL_ID,
    NAME
FROM 
    ANIMAL_INS
WHERE 
    INTAKE_CONDITION = 'Sick'
ORDER BY 
    ANIMAL_ID ASC;

```

__ORACLE__

```SQL

SELECT 
    ANIMAL_ID,
    NAME
FROM 
    ANIMAL_INS
WHERE 
    INTAKE_CONDITION = 'Sick'
ORDER BY 
    ANIMAL_ID ASC;

```

### 문제

* 동물 보호소에 들어온 동물 중 젊은 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 이때 결과는 아이디 순으로 조회해주세요.

__MYSQL__

```SQL

SELECT 
    ANIMAL_ID,
    NAME
FROM 
    ANIMAL_INS
WHERE 
    INTAKE_CONDITION != 'Aged'
ORDER BY 
    ANIMAL_ID ASC;

```

__ORACLE__

```SQL

SELECT 
    ANIMAL_ID,
    NAME
FROM 
    ANIMAL_INS
WHERE 
    INTAKE_CONDITION != 'Aged'
ORDER BY 
    ANIMAL_ID ASC;

```

### 문제

* 동물 보호소에 들어온 모든 동물의 아이디와 이름을 ANIMAL_ID순으로 조회하는 SQL문을 작성해주세요. SQL을 실행하면 다음과 같이 출력되어야 합니다.

__MYSQL__

```SQL

SELECT
    ANIMAL_ID,
    NAME
FROM 
    ANIMAL_INS
ORDER BY
    ANIMAL_ID ASC;

```

__ORACLE__

```SQL

SELECT
    ANIMAL_ID,
    NAME
FROM 
    ANIMAL_INS
ORDER BY
    ANIMAL_ID ASC;

```

### 문제

* 동물 보호소에 들어온 모든 동물의 아이디와 이름, 보호 시작일을 이름 순으로 조회하는 SQL문을 작성해주세요. 단, 이름이 같은 동물 중에서는 보호를 나중에 시작한 동물을 먼저 보여줘야 합니다.

__MYSQL__

```SQL

SELECT
    ANIMAL_ID,
    NAME,
    DATETIME
FROM 
    ANIMAL_INS
ORDER BY
    NAME ASC,
    DATETIME DESC;

```

__ORACLE__

```SQL 

SELECT
    ANIMAL_ID,
    NAME,
    DATETIME
FROM 
    ANIMAL_INS
ORDER BY
    NAME ASC,
    DATETIME DESC;

```

### 문제

* 동물 보호소에 가장 먼저 들어온 동물의 이름을 조회하는 SQL 문을 작성해주세요.

__MYSQL__

```SQL

SELECT
    NAME
FROM 
    ANIMAL_INS
ORDER BY 
    DATETIME ASC
LIMIT 1;

```

__ORACLE__

```SQL

SELECT
    NAME
FROM 
    ANIMAL_INS
ORDER BY 
    DATETIME ASC
FETCH FIRST 1 ROW ONLY;



SELECT
    NAME
FROM 
    ANIMAL_INS
ORDER BY 
    DATETIME ASC
WHERE ROWNUM = 1;

```