### 문제

* FISH_INFO 테이블에서 잡은 BASS와 SNAPPER의 수를 출력하는 SQL 문을 작성해주세요.
컬럼명은 'FISH_COUNT`로 해주세요.

__MYSQL__

```SQL

SELECT
    COUNT(*) AS FISH_COUNT
FROM
    FISH_INFO HI
    INNER JOIN FISH_NAME_INFO NI
    ON HI.FISH_TYPE = NI.FISH_TYPE
WHERE 
    NI.FISH_NAME = 'BASS'
    OR NI.FISH_NAME = 'SNAPPER'

```