### 문제

* 3세대의 대장균의 ID(ID) 를 출력하는 SQL 문을 작성해주세요. 이때 결과는 대장균의 ID 에 대해 오름차순 정렬해주세요.

__MYSQL__

```SQL

WITH
    G1 AS (
        SELECT ID
        FROM
            ECOLI_DATA
        WHERE PARENT_ID IS NULL
),
    G2 AS (
        SELECT ECOLI_DATA.ID
        FROM
            ECOLI_DATA
        JOIN G1
            ON G1.ID = ECOLI_DATA.PARENT_ID
)

SELECT ECOLI_DATA.ID
FROM
    ECOLI_DATA
    JOIN G2
        ON G2.ID = ECOLI_DATA.PARENT_ID
ORDER BY
    ID ASC;

```