### 문제

* USED_GOODS_BOARD와 USED_GOODS_REPLY 테이블에서 2022년 10월에 작성된 게시글 제목, 게시글 ID, 댓글 ID, 댓글 작성자 ID, 댓글 내용, 댓글 작성일을 조회하는 SQL문을 작성해주세요. 결과는 댓글 작성일을 기준으로 오름차순 정렬해주시고, 댓글 작성일이 같다면 게시글 제목을 기준으로 오름차순 정렬해주세요.

__MYSQL__

```SQL

SELECT 
    BO.TITLE, 
    BO.BOARD_ID, 
    RE.REPLY_ID, 
    RE.WRITER_ID, 
    RE.CONTENTS, 
    DATE_FORMAT(RE.CREATED_DATE, '%Y-%m-%d') AS CREATED_DATE

FROM USED_GOODS_BOARD BO
    INNER JOIN USED_GOODS_REPLY RE
    ON BO.BOARD_ID  = RE.BOARD_ID 

WHERE BO.CREATED_DATE BETWEEN '2022-10-01' AND '2022-10-31'
ORDER BY 
    RE.CREATED_DATE ASC, 
    BO.TITLE ASC;

```

__ORACLE__

```SQL

SELECT
    BO.TITLE,
    BO.BOARD_ID,
    RE.REPLY_ID,
    RE.WRITER_ID,
    RE.CONTENTS,
    TO_CHAR(RE.CREATED_DATE, 'YYYY-MM-DD') AS CREATE_DATE
FROM USED_GOODS_BOARD  BO
    INNER JOIN USED_GOODS_REPLY  RE 
    ON BO.board_id = re.board_id
WHERE TO_CHAR(BO.CREATED_DATE, 'YYYY-MM') = '2022-10'
ORDER BY 
    RE.CREATED_DATE ASC, 
    BO.TITLE ASC;

```