### 문제

* 동물 보호소에 들어온 동물은 4마리입니다. 따라서 SQL문을 실행하면 다음과 같이 나와야 합니다.

__MYSQL__

```SQL

SELECT
    COUNT(*)
FROM 
    ANIMAL_INS
;

```