### 문제

* 물고기 종류 별로 가장 큰 물고기의 ID, 물고기 이름, 길이를 출력하는 SQL 문을 작성해주세요.
물고기의 ID 컬럼명은 ID, 이름 컬럼명은 FISH_NAME, 길이 컬럼명은 LENGTH로 해주세요.
결과는 물고기의 ID에 대해 오름차순 정렬해주세요.
단, 물고기 종류별 가장 큰 물고기는 1마리만 있으며 10cm 이하의 물고기가 가장 큰 경우는 없습니다.

__MYSQL__

```SQL

WITH MAX_LENGTH_PER_TYPE AS (
    SELECT
        FISH_TYPE,   
        MAX(LENGTH) AS MAX_LENGTH
    FROM
        FISH_INFO
    GROUP BY
        FISH_TYPE
)
SELECT
    T1.ID,
    T2.FISH_NAME,
    T1.LENGTH
FROM
    FISH_INFO T1
JOIN FISH_NAME_INFO T2
    ON T1.FISH_TYPE = T2.FISH_TYPE
JOIN MAX_LENGTH_PER_TYPE T3
    ON T1.FISH_TYPE = T3.FISH_TYPE 
    AND T1.LENGTH = T3.MAX_LENGTH
ORDER BY
    T1.ID ASC;

```